<div id="comments" class="comments-area">
    {% if post.comments %}
    <h2 class="comments-title">
        {% if loop.first %}
            {% if loop.index == loop.length%}
             Thought on {{post.title}}
             {% else %} 
             Thoughts on {{post.title}}             
             {% endif %}
             </h2>
             <ul class="comment-list">
             <li id="comment-1" class="comment even thread-even depth-1">
             
        {% endif %}
        <div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
        <h5 class="comment-author">{{comment.author.name}} says</h5>
        <div class="comment-content">{{comment.comment_content|wpautop}}</div>
        <section class="comment-box">
		<!-- child comments -->
		{% if post.comments %}
			<h4> replies </h4>
			<div class="comments">
				{% for cmt in comment.children %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}

		<!-- comment form -->
		{% include "comment-form.twig" %}
	</section>
    {% endif %}
</div>