{% if loop.index is odd %}
	<li id="comment-{{ loop.index }}" class="comment even thread-even depth-{{ (comment.depth+1) }}">
	{% elseif loop.index is even %}	
	<li id="comment-{{ loop.index }}" class="comment odd alt thread-odd thread-alt depth-{{ (comment.depth+1) }}">
{% endif %}
<article id="div-comment-{{ loop.index }}" class="comment-body media mb-4">
                <a class="pull-left" href="#">
                    <img src="https://secure.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=50&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo" height="50" width="50">                </a>

                <div class="media-body">
                    <div class="media-body-wrap card">
                        <div class="card-header">
                            <h5 class="mt-0"><cite class="fn">{{comment.author.name}}</a></cite> <span class="says">says:</span></h5>
                            <div class="comment-meta">
                                <a href="https://demo.proweb.agency/hello-world/#comment-{{ loop.index }}">
                                    <time>
                                        {{ comment.date }}                                  </time>
                                </a>
                                                            </div>
                        </div>

                        
                        <div class="comment-content card-block">
                            <p>{{comment.comment_content|wpautop}}</p>
                        </div><!-- .comment-content -->

                        <footer class="reply comment-reply card-footer"><a rel="nofollow" class="comment-reply-link btn btn-primary" href="http://devuber.test/?p=1&replytocom=1#respond" onclick="return addComment.moveForm( &quot;div-comment-1&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot; )" aria-label="Reply to A WordPress Commenter">Reply</a></footer><!-- .reply -->
                    </div>
                </div><!-- .media-body -->

            </article><!-- .comment-body -->
            

            </li>