{% extends "base.twig" %}

{% block content %}
  <article id="post-{{ post.ID }}" class="post-type-{{ post.post_type }}">
    <div class="post-thumbnail"><img src="{{ post.thumbnail.src|resize(1200, 300) }}"></div>
    <header class="entry-header">
      <h1 class="entry-title">{{ post.title }}</h1>
      <div class="entry-meta">
        <span>By</span>
        <a href="{{post.author.path}}">
          {{ post.author.name }}
        </a>
        <span>&bull;</span>
        {{ post.date }}
      </div>
      {#end entry meta#}
    </header>
    <div <div class="entry-content">
      {{post.content}}
    </div> {#end entry content#}
		<footer class="entry-footer">
		<span class="cat-links">Posted in <a href="#" rel="category tag">{{post.category}}</a></span>
		</footer>
</article>
{{ fn('comments_open', post.ID)}}
{{post.comment.status}}
<div id="comments" class="comments-area">
	{% if post.comments.count == 1 %}
    <h2 class="comments-title mt-5">Thought on
      {{post.title}}
    </h2>
  {% elseif post.comments.count >1 %}
    <h2 class="comments-title mt-5">Thoughts on
      {{post.title}}
    </h2>
	{% endif %}
	<ul class="list-unstyled comment-list">
    {% if post.comments %}
    	{% for cmt in post.comments %}
      	{% include "comment.twig" with {comment:cmt} %}
    	{% endfor %}
		{% endif %}
	</ul>
  {% if post.comment_status == "closed" %}
    <p>
      comments for this post are closed
    </p>
  {% else %}
    {% include "comment-form.twig" %}
  {% endif %}
</div>{# end comments#}
{% endblock %}
